img {
  width: 30%;
  margin: 0 1.2em 0.8em 0.9em;
  border: solid 4px grey;
  border-radius: 1.2em;
}


nav{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  width: 30%;
  padding: 1.3em 0;
  border-bottom: 2px solid white;
}